<div class="container">
  <div class="col-md-12">
    <div class="content">
      <%= form_for (@client), :html => {multipart: true} do |f| %>

          <% if @client.errors.any? %>
              <ul>

                <% @client.errors.full_messages.each do |m| %>
                    <li><%= m %></li>
                <% end %>
              </ul>

          <% end %>
          <div class="form-group">
            <%= f.label :first_name %><br/>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %><br/>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :session_name %><br/>
            <%= f.text_field :session_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :client_password %><br/>
            <%= f.text_field :client_password, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :pictures, :class => 'control-label' %>
            <div class="controls">
              <!-- The magic is coming ...look at my eyes....shazammmm -->
              <!-- Use HTML5 multiple attribute to enable multiple selection
                   and pass back to controller all files as an array, ready
                   for paperclip!!
                   file_field_tag, since images is not a gallery attribute
               -->
              <%= file_field_tag "images[]", type: :file, multiple: true %>
            </div>
          </div>


          <div class="actions">
            <%= f.submit class: 'btn btn-md btn-primary' %>
          </div>

      <% end %>
    </div>
  </div>
</div>

