<div class="container dashboard-container client-photos">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= @client.first_name %> <%= @client.last_name %> | Session: <%= @client.session_name %></h2>
      <h3>Your Favorites</h3>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to "Home", show_client_photos_client_path(@client), class: '#' %></li>
        <li role="presentation"><%= link_to "Products", client_items_path(client_id: @client), class: '#' %></li>
        <li role="presentation"><%= link_to "Favorites", client_favorites_client_path(@client), class: '#' %></li>
        <li role="presentation"><%= link_to "Cart", view_cart_path(client_id: @client.id), class: '#' %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <% @pictures.each do |p| %>
        <div class="col-md-4 little-margin">
          <%= image_tag(p.image(:medium), class: 'img-responsive img-thumbnail') %>
          <% if p.favorite? %>
              <br /><br /><%= link_to unfavorite_picture_client_path(@client, picture_id: p.id), class: "btn btn-default" do   %>
                  <%= fa_icon("ban") %> Unfavorite<% end %>
          <% else %>
              <br /><br /><%= link_to favorite_picture_client_path(@client, picture_id: p.id), class: "btn btn-default" do %>
                  <%= fa_icon("heart heart-color") %> Favorite <% end %>
          <% end %>
          <%= link_to add_to_cart_path(picture_id: p.id, client_id: @client.id), class: "btn btn-default" do %>
              <%= fa_icon("shopping-cart") %>Add to Cart <% end %>
        </div>
    <% end %>
  </div>
</div>