<div class="container dashboard-container">
  <h2><%= @client.first_name %> <%= @client.last_name %></h2>
  <h3><%= @client.session_name %></h3>

  <h3>Pictures</h3>
  <% @pictures.each do |p| %>
    <%= image_tag(p.image, class: 'thumb-pic') %>
    <% if p.favorite? %>
      <p><%= fa_icon("heart", class: "fa-heart-color") %></p>
    <% end %>
  <% end %>

  <div class="row"><br />
    <div class="col-md-12">
      <% if current_user.admin? %>
          <%= link_to "Add More Photos", edit_client_path(@client), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
