<div class="banner-div">

</div>
<div class="philosophy-div">
  <h1 class="philosophy-text">CITY</h1>
  <h5 class="philosophy-detail-text">
    Documenting life's moments.. Honoring the stories they tell.
  </h5>
</div>
<div class="container main-container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("city1.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("city2.jpg") %>
      </div>
      <div class="item">
        <%= image_tag("city3.jpg") %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container get-in-touch">
  <h1 class="philosophy-text">Get in Touch</h1>
  <%= form_tag(contacts_form_path, :method => 'post', :class => 'contact-us') do %>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <%= text_field_tag 'name', nil, {placeholder: "Name", class: "form-control", :required => 'required'} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= text_field_tag 'email', nil, {placeholder: "Email", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone number</label>
        <%= text_field_tag 'phone', nil, {placeholder: "Phone", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Question or Comment</label>
        <%= text_area_tag 'question', nil, {placeholder: "Question or Comment", class: "form-control"} %><br />
      </div>
      <%= submit_tag "Submit", class: 'btn btn-md btn-default' %>
  <% end %>
</div>
<div class="footer">

</div>