<div class="container dashboard-container">
  <div class="add-client">
    <%= link_to "Add Client", new_client_path, class: "btn btn-success" %>
  </div>
      <!-- Table -->
      <table class="table">
        <tr>
          <th>
            Client Name
          </th>
          <th>
            Session Name
          </th>
          <th>
            URL To Give Client
          </th>
          <th>
            Client Password
          </th>
          <th>
            View Client
          </th>
          <th>
            Edit Client
          </th>
          <th>
            Delete Client
          </th>
        </tr>
        <% @clients.each do |c| %>
            <tr>
              <td>
                <%= c.first_name %> <%= c.last_name %>
              </td>
              <td>
                <%= c.session_name %>
              </td>
              <td>
                www.laceydawnphotography.com/clients/<%=c.id%>/show_client_photos
              </td>
              <td>
                <%= c.client_password %>
              </td>
              <td>
                <%= link_to "View", client_path(c), class: "btn btn-default", method: :get %>
              </td>
              <td>
                <%= link_to "Edit", edit_client_path(c), class: "btn btn-default", method: :get %>
              </td>
              <td>
                <%= link_to "Delete", client_path(c), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
              </td>
            </tr>
        <% end %>
      </table>
</div>