<div class="banner-div">

</div>
<div class="philosophy-div">
  <h1 class="philosophy-text">GENERAL PRICING</h1>
  <h5 class="philosophy-detail-text">
    The prices listed below are not set in stone and are to provide my clients an estimate.  I like to work with my clients to determine a pricing and photography package that meets their needs and budget.  Please contact me to discuss further.  Thank you!
  </h5>
</div>
<div class="container">
  <div class="pricing well">
    <h4><strong>Family Session (6 people or less):</strong> $175; $10 per additonal person</h4>
    <h4><strong>Newborns (Up to a 3 hour session):</strong>  $175; $15 per additional person, or $225 for newborn and entire family</h4>
    <h4><strong>Seniors (One hour session w/ up to 3 outfits):</strong>  $250; includes Flash drive of edited images with printing rights</h4>
    <h4><strong>Engagements (One hour outdoor session):</strong>  $100</h4>
    <h4><strong>Weddings (Up to 6 hours):</strong>  $1,500; includes Flash drive of edited images with printing rights.  $100 per additional hour.</h4>
    <h4><strong>Events:</strong>  $75 per hour.  Images sold separately or with Flash drive for additional $150</h4>
    <h4><strong>Mini-Sessions:</strong>  Prices vary by season and will be posted here and on Facebook</h4>
  </div>
  <h5 class="philosophy-detail-text">
    There is a $25 travel fee for locations greater than 30 miles from Altoona, Iowa, up to 75 miles.  If further than 75 miles, there is an additional 0.50 cents per mile charge.
  </h5>

  <div class="photo-pricing well">
    <h4 class="text-align-center">
      <strong>Individual Images:</strong><br />
      4x6: $5.00 <br />
      5x7: $10.00 <br />
      8x10: $15.00 <br />
      11x14: $25.00 <br />
      16x20 $40.00 <br />
      Wallets (8): $12.00 <br />
      <strong>Flash drives of the entire session can be purchased for $150.00</strong>
    </h4>
  </div>
</div>
<div class="container get-in-touch">
  <h1 class="philosophy-text">Get in Touch</h1>
  <%= form_tag(contacts_form_path, :method => 'post', :class => 'contact-us') do %>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <%= text_field_tag 'name', nil, {placeholder: "Name", class: "form-control", :required => 'required'} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= text_field_tag 'email', nil, {placeholder: "Email", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone number</label>
        <%= text_field_tag 'phone', nil, {placeholder: "Phone", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Question or Comment</label>
        <%= text_area_tag 'question', nil, {placeholder: "Question or Comment", class: "form-control"} %><br />
      </div>
      <%= submit_tag "Submit", class: 'btn btn-md btn-default' %>
  <% end %>
</div>
<div class="footer">

</div>