<div class="banner-div">

</div>
<div class="philosophy-div">
  <h1 class="philosophy-text">REVIEWS</h1>
  <h5 class="philosophy-detail-text">
    Documenting life's moments.. Honoring the stories they tell.
  </h5>
</div>
<div class="container">
  <div class="well">
    Lacey is Awesome! Super fun to work with and easy going! She made sure we got all the pictures we wanted with great backgrounds. My littlest daughter is very shy and hard for pictures; but Lacey was able to get her to smile and captured some great moments of her:) thanks again Lacey for helping my family make some memories that we can always look at:) She is also quick on showing you previews of the pictures which I love ❤️!
    <span style="font-style: italic;">Ashley Halsted</span>
  </div>
  <div class="well">
    She does a wonderful job with her photography and she has a great personality as a photographer. We will continue to use her as our photographer cause she never disappoints us with the photos she takes :)
    <span style="font-style: italic;">Stephanie O'Leary</span>
  </div>
  <div class="well">
    Lacey was fantastic with my kids! Shes very creative and has some hidden beautiful spots for pictures! Very happy with our photos!
    <span style="font-style: italic;">Amanda Luna</span>
  </div>
  <div class="well">
    Love love love how our family pictures turned out!!! Lacey Dawn Hike is amazing and super patient!! And she travel to us from Altoona! If anyone is looking for a great photographer-she's your gal!
    <span style="font-style: italic;">Kyla Vitek</span>
  </div>
  <div class="well">
    Lacey was awesome! She has such a passion for photography and it show in our photos. Love them all! I will definitely call Lacey again when it's time for photos. Amazing work!
    <span style="font-style: italic;">Anna Haub</span>
  </div>
  <h4>View more reviews: <%= link_to "Click here", "https://www.facebook.com/pg/LaceyDawnPhotography/reviews", class: "btn btn-primary" %></h4>
</div>
<div class="container get-in-touch">
  <h1 class="philosophy-text">Get in Touch</h1>
  <%= form_tag(contacts_form_path, :method => 'post', :class => 'contact-us') do %>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <%= text_field_tag 'name', nil, {placeholder: "Name", class: "form-control", :required => 'required'} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= text_field_tag 'email', nil, {placeholder: "Email", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone number</label>
        <%= text_field_tag 'phone', nil, {placeholder: "Phone", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Question or Comment</label>
        <%= text_area_tag 'question', nil, {placeholder: "Question or Comment", class: "form-control"} %><br />
      </div>
      <%= submit_tag "Submit", class: 'btn btn-md btn-default' %>
  <% end %>
</div>
<div class="footer">

</div>