<div class="container main-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Your Cart</h2>
    </div>
  </div>
</div>
<div class="container">
  <table class="table">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Item Quantity
      </th>
      <th>
        Picture
      </th>
      <th>
        Remove Item
      </th>
    </tr>
    <% @items.each do |i| %>
        <tr>
          <td>
            <%= i.id %>
          </td>
          <td>
            <%= i.name %>
          </td>
          <td>
            <%= i.price %>
          </td>
          <td>
            <%= link_to "Edit", edit_item_path(i), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to "Delete", item_path(i), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>