<div class="container other-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Your Cart</h2>
      <%= link_to "Send Cart", send_cart_path(client_id: @client.id), class: "btn btn-primary" %>
      <p>Clicking this button will send Lacey an e-mail with what's in your cart.  She'll be in touch shortly to finalize your order!</p>
    </div>
  </div>
</div>
<div class="container other-container">
  <table class="table">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Item Quantity
      </th>
      <th>
        Item Price
      </th>
      <th>
        Picture
      </th>
      <th>
        Remove Item
      </th>
    </tr>
    <% @items.each do |i| %>
        <tr>
          <td>
            <%= Item.find(i.item_id).name %>
          </td>
          <td>
            <%= i.item_quantity %>
          </td>
          <td>
            <%= Item.find(i.item_id).price %>
          </td>
          <td>
            <%= image_tag(Picture.find(i.picture_id).image(:thumb)) %>
          </td>
          <td>
            <%= link_to "Remove from cart", remove_cart_item_path(cart_id: i.id, client_id: @client.id), class: "btn btn-danger" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>