<div class="container">
  <%= @client.first_name %> <%= @client.last_name %> has submitted the following items
  <table class="table">
    <tr>
      <th>
        Item Name
      </th>
      <th>
        Item Quantity
      </th>
      <th>
        Item Price
      </th>
      <th>
        Picture ID
      </th>
    </tr>
    <% @carts.each do |i| %>
        <tr>
          <td>
            <% if i.photo_type.nil? %>
                <%= Item.find(i.item_id).name %>
            <% else %>
                Print Surface: <%= i.item_print_surface rescue "" %> <br />
                Protective Coating: <%= i.item_coating rescue "" %> <br />
                Texture: <%= i.item_texture rescue "" %> <br />
                Mounting: <%= i.item_mounting rescue "" %> <br />
                Size: <%= i.item_size rescue "" %>
            <% end %>
          </td>
          <td>
            <%= i.item_quantity rescue "" %>
          </td>
          <td>
            <%= Item.find(i.item_id).price rescue "" %>
          </td>
          <td>
            <% unless i.picture_id.nil? %>
                <%= i.picture_id %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>