<!DOCTYPE html>
<html>
<head>
  <title>LaceyDawnPhotography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><%= image_tag('LD_WATERMARK.png', class: 'img-thumbnail nav-image') %></a>
			</div>

			<div class="navbar-collapse collapse left-nav-alignment" dir="rtl">
				<ul id="menu" class="nav navbar-nav navbar-right">
	            	<li class="active"><a href="/"><span class="nav-item">Home</span></a></li>
	            	<li><%= link_to "About", about_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Family", family_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Maternity & Newborns", newborns_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Children", children_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Landscapes", landscapes_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "City", city_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Engagements", engagements_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Weddings", weddings_path, class: 'nav-item', method: :get %></li>
	            	<li><%= link_to "Seniors", seniors_path, class: 'nav-item', method: :get %></li>
                <li><%= link_to "Events", events_path, class: 'nav-item', method: :get %></li>
                <li><%= link_to "Reviews", testimonials_path, class: 'nav-item', method: :get %></li>
                <li><%= link_to "Pricing", pricing_path, class: 'nav-item', method: :get %></li>
				</ul>
			</div>
		</div>
	</div>
<%= flash_messages %>
<%= yield %>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Lacey Dawn Photography 421 25th Street SE Altoona, IA 50009</a></li>
        <li><a href="#">(515) 450-7856</a></li>
        <li><a href="#">Lacey Dawn Photography © 2016</a></li>
        <li><a href="http://www.facebook.com/laceydawnphotography" class="#">www.facebook.com/LaceyDawnPhotography</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>
